/*** All elements and body styles ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/background_image.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

/***** Header styles *****/

h1 {
  font-family: "Republica Minor", sans-serif;
}

span {
  letter-spacing: 2px;
  display: inline-block;
  font-size: 5vh;
}
span::first-letter {
  font-size: 150%;
}
span:last-child {
  color: red;
}
p {
  font-size: 3vh;
}

/*** +1 Background style***/
.main {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
}

/*** Main-body styles ***/

.main-body1 {
  background-color: #000;
  width: 25vw;
  align-self: center;
}

/*** Form styles ***/

#signingForm {
  padding: 2vh 2vw;
  text-align: left;
}
#name,
#age,
#email,
#contentType,
#feedback {
  padding: 1em 0.5em;
  width: 20vw;
}

input {
  display: inline-block;
  box-sizing: border-box;
  /* width: 100%; */
}

.submit {
  margin-left: 5vw;
}
.submit > input {
  padding: 0.6em 3em;
  border-radius: 1.5em;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 1em;
}
.submit > input:hover {
  background-color: rgb(151, 32, 3);
}
